@font-face {
    font-family: Inter;
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(Fonts/gilroy-bold.ttf);
}

.whole__page{
    background: #FFF;
}

.header__style{
    display: grid;
    grid-template-columns: 100px  533px;
    gap: 550px;
}

[class^="link-"] {
    display: grid;
    place-items: left;
}

.headerMain__style{
    display: flex;
    padding: 40px 373px 100px 373px;
    flex-direction: column;
    align-items: stretch;
    gap: 84px;
}

.main__style{
    display: grid;
    grid-template-columns: 600px 544px;
    column-gap: 41px;
}

[class^="box-"] {
    display: grid;
    place-items: left;
}

.GrowBe__grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 5px;
}

[class^="GrowBe-"] {
    display: grid;
    place-items: center;
}


.image__arrow{
    width: 35px;
    height: 40px;
}

.links__header_all{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 8px;
}

[class^="item-"] {
    display: grid;
    place-items: center;
}

.home__link{
    color: #F25822;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.menu__links{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    gap: 200px;
}


.Grow{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Be{
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__h1{
    color: #000;

    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%
}

.main__p{
    color: #888;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.btn_orange{
    color: #FFF;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);

    width: 140px;
    height: 50px;
    flex-shrink: 0;

}

.link__watch_video{
    color: #AAA;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.image__main{
    width: 545px;
    height: 375px;
}

.img_liva{
    width: 134px;
    height: 50px;
}

.img__other_footer{
    width: 160px;
    height: 50px;
}

.footer__modified{
    display: flex;
    width: 1920px;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.item1{
    width: 560px;
}

.btn_main{
    display: flex;
    align-items: stretch;
    gap: 72px;
}