a {
    text-decoration: none;
    }

    @font-face {
        font-family: lemon;
        src: url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
       }


.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height:  20px;
}

h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;

}

.paragraph {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text_h2 {
    color: coral;
    font-size: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.image_style {
    border-radius: 10px;
    width: 300px;
}

.input_field {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.button_style {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.block_1 {
    margin: 10px;
    padding: 10px;
}

.block_2 {
    margin: 20px;
    padding: 20px;
}

.block_2 {
    margin: 30px;
    padding: 30px;
}

.menu:hover {
    font-size: 25px;
}

.menu:active{
    color: red;
}

li:nth-child(n+2){
    font-style: italic;
    color: aquamarine !important;
}